* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    background-color: black;
}

.portrait {
    position: relative;
    width: 100%;
    height: 100vh;
}

.men {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.texture {
    mix-blend-mode: multiply;
    filter: contrast(1.5);
}